{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .background {
            background-color: #D3D3D3;
            height: 50px;
        }
        .example {
            padding-left: 10px;
            padding-top: 15px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>


<div style="width: 300px;">
    <h3>Фильтр <b>join</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для объединения значений из списка в
        одну строку с использованием заданного разделителя
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|join:" // " }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>join</b>:</p>
    <div class="background">
        <p class="example">
            {{ value }}
        </p>
    </div>

    <p>Пример с фильтром <b>join</b>:</p>
    <div class="background" style="height: 100px;">
        <p class="example">
            {{ value|join:" // " }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>truncatewords_html</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для обрезки строки
        до заданного количества слов
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|truncatewords_html:2 }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>truncatewords_html</b>:</p>
    <div class="background">
        <p class="example">
            {{ value }}
        </p>
    </div>

    <p>Пример с фильтром <b>truncatewords_html</b>:</p>
    <div class="background">
        <p class="example">
            {{ value|truncatewords_html:2 }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>rjust</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для выравнивания текста по правому краю,
        путем добавления заданного количества символов
        слева до указанной ширины.
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|rjust:25 }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>rjust</b>:</p>
    <div class="background">
        <p class="example">
            {{ "Lorem" }}
        </p>
    </div>

    <p>Пример с фильтром <b>rjust</b>:</p>
    <div class="background">
        <pre class="example">
            {{ "Lorem"|rjust:25 }}
        </pre>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>dictsortreversed</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для сортировки словаря
        в обратном порядке на основе значений в словарях
    </p>

    <p>Синтаксис</p>
    <div style="height: 90px" class="background">
        <p class="example">
            <b>{% verbatim %} {{ foods|dictsortreversed:'category' }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>dictsortreversed</b>:</p>
    <div class="background" style="height: 150px;">
        <ol class="example" style="list-style:none">
            {% for food in foods %}
            <li>{{ food.name }}, {{ food.category }}</li>
            {% endfor %}
        </ol>
    </div>

    <p>Пример с фильтром <b>dictsortreversed</b>:</p>
    <div class="background" style="height: 150px;">
        <ol class="example" style="list-style:none">
            {% for food in foods|dictsortreversed:'category' %}
            <li>{{ food.name }}, {{ food.category }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>wordcount</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для подсчета количества слов в строке
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|wordcount }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>wordcount</b>:</p>
    <div class="background">
        <p class="example">
            {{ value }}
        </p>
    </div>

    <p>Пример с фильтром <b>wordcount</b>:</p>
    <div class="background">
        <p class="example">
            {{ value|wordcount }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>default_if_none</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для задания значения по умолчанию,
        которое будет отображаться в шаблоне,
        если переменная или выражение равны (None)
    </p>

    <p>Синтаксис</p>
    <div style="height: 90px" class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|default_if_none:"nothing" }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>default_if_none</b>:</p>
    <div class="background">
        <p class="example">
            {{ None }}
        </p>
    </div>

    <p>Пример с фильтром <b>default_if_none</b>:</p>
    <div class="background">
        <p class="example">
            {{ None|default_if_none:"nothing" }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>floatformat</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для форматирования чисел с
        плавающей запятой (float) в шаблонах Django.
        Этот фильтр позволяет округлить
        число до указанного количества знаков после запятой
        и отобразить его в виде строки.
    </p>

    <p>Синтаксис</p>
    <div style="height: 50px" class="background">
        <p class="example">
            <b>{% verbatim %} {{ float_value|floatformat }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>floatformat</b>:</p>
    <div class="background">
        <p class="example">
            {{ float_value }}
        </p>
    </div>

    <p>Пример с фильтром <b>floatformat</b>:</p>
    <div class="background">
        <p class="example">
            {{ float_value|floatformat }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>random</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для выбора случайного элемента из списка .
    </p>

    <p>Синтаксис</p>
    <div style="height: 50px" class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|random }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>random</b>:</p>
    <div class="background">
        <p class="example">
            {{ some_list }}
        </p>
    </div>

    <p>Пример с фильтром <b>random</b>:</p>
    <div class="background">
        <p class="example">
            {{ some_list|random }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>json_script</b></h3>
    <p style="text-align: justify;">
        Фильтр предназначен для безопасного встраивания данных JSON в HTML-код страницы.
    </p>

    <p>Синтаксис</p>
    <div style="height: 100px" class="background">
        <p class="example">
            <b>{% verbatim %}{{ value|json_script:"variable_name" }}{% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>json_script</b>:</p>
    <div class="background">
        <p class="example">
            {{ some_list }}
        </p>
    </div>

    <p>Пример с фильтром <b>json_script</b>:</p>
    <div class="background">
    <p class="example">
        <div id="myData" data-json="{{ some_list|json_script }}"></div>
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>timeuntil</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для вычисления временного интервала между текущей датой
        и временной меткой, представленной в виде строки или объекта datetime.
    </p>

    <p>Синтаксис</p>
    <div  class="background">
        <p class="example">
            <b>{% verbatim %}{{ date_to|timeuntil:date}}{% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>timeuntil</b>:</p>
    <div class="background">
        <p class="example">
            {{ date }}
        </p>
    </div>

    <p>Пример с фильтром <b>timeuntil</b>:</p>
    <div class="background">
    <p class="example">
            {{ date_to|timeuntil:date}}
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>stringformat</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для форматирования строковых значений
        с использованием специальных форматных строк
    </p>

    <p>Синтаксис</p>
    <div style="width: 400px"  class="background">
        <p class="example">
            <b>{% verbatim %}{{ some_value|stringformat:"format_string" }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>stringformat</b>:</p>
    <div class="background">
        <p class="example">
            {{ float_value }}
        </p>
    </div>

    <p>Пример с фильтром <b>stringformat</b>:</p>
    <div class="background">
    <p class="example">
            {{ float_value|floatformat:"2" }}
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>first</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для получения первого элемента из списка
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ some_list|first }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>first</b>:</p>
    <div class="background">
        <p class="example">
            {{ some_list }}
        </p>
    </div>

    <p>Пример с фильтром <b>first</b>:</p>
    <div class="background">
    <p class="example">
            {{ some_list|first }}
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>center</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для центрирования текста в строке
    </p>

    <p>Синтаксис</p>
    <div style="height: 100px"  class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|center:"15" }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>center</b>:</p>
    <div class="background">
        <pre class="example">
            {{ value }}
        </pre>
    </div>

    <p>Пример с фильтром <b>center</b>:</p>
    <div  style="" class="background">
    <pre class="example">
            {{ value|center:'60' }}
    </pre>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>urlencode</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для преобразования строки в URL-кодированный формат
    </p>

    <p>Синтаксис</p>
    <div style="height: 100px"  class="background">
        <p class="example">
            <b>{% verbatim %} {{ value|urlencode }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>urlencode</b>:</p>
    <div style="width: 350px"  class="background">
        <p class="example">
            {{ url }}
        </p>
    </div>

    <p>Пример с фильтром <b>urlencode</b>:</p>
    <div style="width: 450px" class="background">
    <p class="example">
            {{ url|urlencode }}
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>phone2numeric</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для преобразования буквенных символов,
        которые могут находиться на клавишах мобильного телефона, в соответствующие им цифры
    </p>

    <p>Синтаксис</p>
    <div class="background">
        <p class="example">
            <b>{% verbatim %} {{ phone|phone2numeric }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>phone2numeric</b>:</p>
    <div  class="background">
        <p class="example">
            {{ phone }}
        </p>
    </div>

    <p>Пример с фильтром <b>phone2numeric</b>:</p>
    <div class="background">
    <p class="example">
            {{ phone|phone2numeric }}
    </p>
    </div>

</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Фильтр <b>dictsort</b></h3>
    <p style="text-align: justify;">
        Фильтр используется для сортировки словаря на основе значений в словарях
    </p>

    <p>Синтаксис</p>
    <div style="height: 90px" class="background">
        <p class="example">
            <b>{% verbatim %} {{ foods|dictsort:'category' }} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без фильтра <b>dictsort</b>:</p>
    <div class="background" style="height: 150px;">
        <ol class="example" style="list-style:none">
            {% for food in foods %}
            <li>{{ food.name }}, {{ food.category }}</li>
            {% endfor %}
        </ol>
    </div>

    <p>Пример с фильтром <b>dictsort</b>:</p>
    <div class="background" style="height: 150px;">
        <ol class="example" style="list-style:none">
            {% for food in foods|dictsort:'category' %}
            <li>{{ food.name }}, {{ food.category }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>templatetag</b></h3>
    <p style="text-align: justify;">
       Тег используется для вывода специальных символов,
       таких как фигурные скобки {},
       как часть результата шаблона,
       без их интерпретации как тегов или переменных DTL.
    </p>

    <p>Синтаксис</p>
    <div style="width: 650px;" class="background">
        <p class="example">
            <b>{% verbatim %} {% templatetag openbrace %} {{ value }} {% templatetag closebrace %} {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>templatetag</b>:</p>
    <div  class="background">
        <p class="example">
            {{ value }}
        </p>
    </div>

    <p>Пример с тегом <b>templatetag</b>:</p>
    <div class="background">
    <p class="example">
        {% templatetag openbrace %} {{ value }} {% templatetag closebrace %}
    </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>resetcycle</b></h3>
    <p style="text-align: justify;">
       Тег используется для сброса цикла,
        созданного с помощью тега cycle,
         к начальному состоянию.
    </p>

    <p>Синтаксис</p>
    <div style="width: 750px;" class="background">
        <p class="example">
            <b>{% verbatim %} {% for elem in some_list %} {% cycle 'odd' 'even' %} {{elem}} {% resetcycle %} {% endfor %}{% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>resetcycle</b>:</p>
    <div style="display: flex; width: 650px;" class="background">
        {% for elem in some_list %}
        <p style="margin-top: -7px;"  class="example">
            {% cycle 'odd' 'even' %} {{elem}}
        </p>
        {% endfor %}
    </div>

    <p>Пример с тегом <b>resetcycle</b>:</p>
    <div style="display: flex; width: 650px;" class="background">
        {% for elem in some_list %}
        <p style="margin-top: -7px;"  class="example">
            {% cycle 'odd' 'even' %} {{elem}}
        </p>
        {% resetcycle %}
        {% endfor %}
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>with</b></h3>
    <p style="text-align: justify;">
       Тег используется для создания временных переменных в шаблонах.
        Он позволяет присвоить значению переменной другое имя
        и использовать его внутри текущего контекста шаблона.
    </p>

    <p>Синтаксис</p>
    <div style="width: 700px;" class="background">
        <p class="example">
            <b>{% verbatim %}{% with total_price=price %}
            Total Price: ${{ total_price }}
            {% endwith %}
            {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>with</b>:</p>
    <div class="background">
        <p class="example">
            {{ price }}
        </p>
    </div>

    <p>Пример с тегом <b>with</b>:</p>
    <div class="background">
        <p class="example">
        {% with total_price=price %}
            Total Price: ${{ total_price }}
        {% endwith %}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>verbatim</b></h3>
    <p style="text-align: justify;">
       Тег используется для отключения обработки шаблонизатором специфических символов,
        что означает, что содержимое между тегом
          verbatim будет рассматриваться
          как литеральный текст и не будет интерпретироваться 
          как шаблонный код.
    </p>

    <p>Синтаксис</p>
    <div style="width: 400px;" class="background">
        <p class="example">
            <b>{% templatetag openblock %} verbatim {% templatetag closeblock %}
                {% templatetag openvariable %} value {% templatetag closevariable %}
                {% templatetag openblock %} endverbatim {% templatetag closeblock %}
            </b>
        </p>
    </div>

    <p>Пример без тега <b>verbatim</b>:</p>
    <div class="background">
        <p class="example">
            {{ value }}
        </p>
    </div>

    <p>Пример с тегом <b>verbatim</b>:</p>
    <div class="background">
        <p class="example">
            {% verbatim %}
                {{ value }}
            {% endverbatim %}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>block</b></h3>
    <p style="text-align: justify;">
        Тег используется для определения блока кода внутри шаблона,
         который можно переопределить в дочерних шаблонах.
    </p>

    <p>Синтаксис</p>
    <div style="width: 700px;" class="background">
        <p class="example">
            <b>{% verbatim %}
            {% block content %}
               
            {% endblock %}
            
            {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>block</b>:</p>
    <div class="background">
        <p class="example">

        </p>
    </div>

    <p>Пример с тегом <b>block</b>:</p>
    <div class="background">
        <p class="example">
            {% block content %}
               <a href="{% url 'block' %}">Link</a>
            {% endblock %}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>cycle</b></h3>
    <p style="text-align: justify;">
        Тег который позволяет циклически переключаться между значениями внутри блока шаблона.
    </p>

    <p>Синтаксис</p>
    <div style="width:300px; height: 150px;" class="background">
        <p class="example">
            <b>{% verbatim %}
            {% for num in nums %}
                <p> {% cycle 'even' 'odd' %} {{num}}</p>
            {% endfor %}
            {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>cycle</b>:</p>
    <div style="display: flex;" class="background">
        {% for elem in some_list %}
        <p style="margin-top: -5px;" class="example">
            {{ elem }}
        </p>
        {% endfor %}
    </div>

    <p>Пример с тегом <b>cycle</b>:</p>
    <div style="display: flex; width: 500px;" class="background">
        {% for elem in some_list %}
            <p style="margin-top: -5px;" class="example">
                {% cycle 'even' 'odd' %} {{ elem }}
            </p>
        {% endfor %}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>widthratio</b></h3>
    <p style="text-align: justify;">
        Тег который используется для расчета значения,
         пропорционального ширине двух чисел.
    </p>

    <p>Синтаксис</p>
    <div style="width: 400px;" class="background">
        <p class="example">
            <b>{% verbatim %}
                {% widthratio value max_value 100 %}
            {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>widthratio</b>:</p>
    <div class="background">
        <p class="example">
            {{ price }}
        </p>
    </div>

    <p>Пример с тегом <b>widthratio</b>:</p>
    <div class="background">
        <p class="example">
            {% widthratio price 500 100 %}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>

<div style="width: 300px;">
    <h3>Тег <b>load</b></h3>
    <p style="text-align: justify;">
        Тег используется для динамической загрузки
         и активации пользовательских тегов и фильтров в шаблонах Django
    </p>

    <p>Синтаксис</p>
    <div style="width: 400px;" class="background">
        <p class="example">
            <b>{% verbatim %}
                {% load module_name %}
            {% endverbatim %}</b>
        </p>
    </div>

    <p>Пример без тега <b>load</b>:</p>
    <div class="background">
        <p class="example">
            {{ price }}
        </p>
    </div>

    <p>Пример с тегом <b>load</b>:</p>
    <div class="background, example_css">
        <p class="example">
            {{ price }}
        </p>
    </div>
</div>
<div style="background-color: black; height: 5px;"></div>
</body>
</html>